@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
    
    if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") != "admin")
    {
        Context.Response.Redirect("/Register/LoginPage");
    }
}

<div class="pagetitle">
    <h1>Dashboard</h1>
</div>

<section class="section dashboard">
    <div class="row">

        <!-- Destinations -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">
                        All Destinations
                    </h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/allDestinations.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Domestics  -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Total Domestics</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/TotalDomestics.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total International -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Total International</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/TotalInternational.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Packages -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Total Packages</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/TotalPackages.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <!-- Total Domestics Packages  -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Total Domestics Packages </h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/TotalDomesticsPackages.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total International Packages   -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Total International Packages </h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/TotalInternationalPackages.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Users -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Users</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/users.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Tour Details -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Total Tour Details</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/TotalTourDetails.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- All Itinerary  -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">All Itinerary</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/AllItinerary.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Activities -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Activities </h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/Activities.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Foods -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Foods</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/Foods.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Places -->
        <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
                <div class="card-body px-4 py-2">
                    <h5 class="card-title fw-bold " style="color: #05073D !important;">Places</h5>
                    <div class="d-flex gap-2">
                        <img src="~/Images/Icons/Places.png" alt="Alternate Text" />
                        <h6 class="mt-3 main-text">10</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

