@model TheRoyalTourism.Models.AdminDataTablesViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Packages";
}

<div class="pagetitle">
    <h1>Packages</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Dashboard" asp-controller="Admin">Home</a>
            </li>
            <li class="breadcrumb-item active">Packages</li>
        </ol>
    </nav>
</div>

<style>

    /*package*/
    .packages-plan .card-image img {
        width: 100%;
        height: auto;
    }

    .packages-plan .card-content {
        padding: 16px;
    }

    .packages-plan .location {
        font-size: 15px;
        font-weight: 400;
        color: var(--blue);
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .packages-plan .price {
        font-size: 18px;
        color: var(--blue);
        margin: 8px 0;
    }

    .packages-plan .duration {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

        .packages-plan .duration span {
            font-size: 16px;
            color: var(--blue);
            display: flex;
            align-items: center;
            gap: 4px;
        }

    .card-content h2 {
        font-size: 24px;
    }

    .packages-plan .view-more {
        text-decoration: none;
        font-size: 17px;
        color: var(--primery) !important;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .packages-plan .price span {
        display: inline-block;
        font-size: 18px;
    }

    .prim-txt {
        color: var(--primery);
    }

    .fa-lg {
        font-size: 1.50em;
        line-height: .05em;
        vertical-align: -.075em;
    }
    /*package*/
</style>

@* Packages *@
<section class="packages-plan ">
    <div class="container">
        <div class="row">
            @foreach (var pack in Model.Packages)
            {
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                    <div class="card" style="border-radius:15px;">
                        <div class="card-image">
                            <img src="~/uploads/@pack.Pimg" class="img-fluid" loading="lazy" alt="packages image">
                        </div>
                        <div class="card-content">
                            <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon">@pack.Plocation</div>
                            <h2 class="title">@pack.Pname</h2>
                            <p class="price">
                                <span class="prim-txt">Starting @pack.Pprice</span>
                                / EMI Available
                            </p>
                            <div class="duration">
                                <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> @pack.Pday N</span>
                                <a href="" class="view-more">Delete </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@* Packages *@

