@{
    ViewData["Title"] = "About Us";
}

@* banner start*@
<div class="home_banner d-flex align-items-end"
     style="background-image:url('/Images/about_bg.png'); background-size:cover; background-attachment:fixed;padding: 40px;height:33em;">

    <div class="container-fluid d-flex justify-content-between align-items-center w-100">

        <!-- Left Side: "About Us" -->
        <h1 class="fw-bold text-white">About Us</h1>

        <!-- Right Side: Breadcrumb -->
        <div class="d-flex align-items-center">
            <a class="text-white text-decoration-none me-2" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <i class="bi bi-chevron-right text-white"></i>
            <a class="text-white text-decoration-underline ms-2">About Us</a>
        </div>

    </div>

</div>
@* banner end*@




@* about section start *@
<div style="background-color:#EEE8F6;">
    <div class="container py-5">
        <div class="d-flex align-items-end">

            <div class="container-fluid d-flex justify-content-between align-items-center w-100">

                <div class="d-block">
                    <!-- Left Side: "About Us" -->
                    <h1 class="main-text">The Royal Tourism </h1>
                    <h6 class="normal-text">What we provide</h6>

                    <p class="mt-3">
                        At The Royal Tourism, we specialize in offering exceptional travel experiences to both domestic <br />
                        and international destinations. Our diverse range of curated packages includes detailed <br />
                        itineraries with clear inclusions and exclusions, ensuring every traveler enjoys a seamless <br />
                        journey. Whether you’re exploring the beauty of local landmarks or discovering the wonders of<br />
                        foreign lands, our goal is to provide a comfortable and luxurious vacation experience.<br />
                    </p>

                    <p class="mt-3">
                        We also offer exclusive packages centered around special festivals and cultural celebrations,<br />
                        giving travelers a unique opportunity to experience local traditions. Every journey is crafted with<br />
                        attention to detail, ensuring that you receive a personalized and enriching experience. From<br />
                        stunning visuals to comprehensive information, we aim to make your trip unforgettable.<br />
                    </p>
                </div>

                <!-- Right Side: Breadcrumb -->
                <div class="d-flex align-items-center mt-3">
                    <!-- Image Grid -->
                    <img src="~/Images/about_img.png" width="100%" height="100%" alt="left" />

                </div>

            </div>

        </div>
    </div>
</div>
@* about section end *@



@* our team start *@
<div class="mt-5">

    <h1 class="fs-1 main-text text-center mb-3">Our Team</h1>

    <h4 class="mt-4 mb-2 normal-text text-center">One site <small class="px-4 py-1 text-white" style="background-color:#8C387C;border-radius:20px;">100+</small>   most popular experience you’ll remember</h4>

    <div class="container  py-5">

        <div class="row ">

            <div class="col-sm-4 mb-4">
                <div class="card shadow-lg ">
                    <div class="card-body p-3 " style="border-radius:12px;">
                        <div class="text-center mt-4 container col-md-4" style="width:135px;height:135px;background-position:center;background-size:cover;background-image:url('/Images/acura-tlx-type-s.jpg');border-radius:100px;">
                        </div>
                        <div class="px-3 py-4 m-3  text-center" style="background-color: #F5F6FB !important;border-radius:12px;">
                            <h5 class="main-text ">Harshil Vanparia</h5>
                            <p class="normal-text my-3 mb-4">UI Designer</p>
                            <a href="" class="me-4 ">
                                <i class="bi bi-facebook text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4">
                                <i class="bi bi-twitter text-white text-center  p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4 ">
                                <i class="bi bi-instagram text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4 ">
                                <i class="bi bi-linkedin text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mb-4">
                <div class="card shadow-lg ">
                    <div class="card-body p-3 " style="border-radius:12px;">
                        <div class="text-center mt-4 container col-md-4" style="width:135px;height:135px;background-position:center;background-size:cover;background-image:url('/Images/lotus-evija-fittipaldi.jpg');border-radius:100px;">
                        </div>
                        <div class="px-3 py-4 m-3  text-center" style="background-color: #F5F6FB !important;border-radius:12px;">
                            <h5 class="main-text ">Zeal Raval</h5>
                            <p class="normal-text my-3 mb-4">Backend Dev</p>
                            <a href="" class="me-4 ">
                                <i class="bi bi-facebook text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4">
                                <i class="bi bi-twitter text-white text-center  p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4 ">
                                <i class="bi bi-instagram text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4 ">
                                <i class="bi bi-linkedin text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mb-4">
                <div class="card shadow-lg ">
                    <div class="card-body p-3 " style="border-radius:12px;">
                        <div class="text-center mt-4 container col-md-4" style="width:135px;height:135px;background:#05073D;border-radius:100px;">
                        </div>
                        <div class="px-3 py-4 m-3  text-center" style="background-color: #F5F6FB !important;border-radius:12px;">
                            <h5 class="main-text ">Dhaval Goswami</h5>
                            <p class="normal-text my-3 mb-4">-</p>
                            <a href="" class="me-4 ">
                                <i class="bi bi-facebook text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4">
                                <i class="bi bi-twitter text-white text-center  p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4 ">
                                <i class="bi bi-instagram text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                            <a href="" class="me-4 ">
                                <i class="bi bi-linkedin text-white text-center p-2 rounded-3" style="background-color:#8C387C;padding-top:4px !important;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@* our team end *@



@* why choose us *@
<section class="why-choose-us" style="background:#F3EAF3;padding-block:5%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-wrap">
                    <img src="~/Images/why_choose.png" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-title text-center mt-5">
                        <h2 class="title">Why choose The Royal Tourism</h2>
                    </div>
                </div>

                <div class="row choose-row ">

                    <div class="col-lg-4 col-md-6">
                        <div class="chose-box shadow-lg text-center">
                            <img src="~/Images/ultimate.png" alt="Alternate Text" />
                            <h6 class="title">Ultimate flexibility</h6>
                            <p class="mb-0">You're in control, with easy cancellation and payment options to satisfy any plan or budget.</p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="chose-box shadow-lg text-center">
                            <img src="~/Images/memorable.png" alt="Alternate Text" />
                            <h6 class="title">Memorable experiences</h6>
                            <p class="mb-0">
                                Browse and book tours and activities so incredible,
                                you'll want to tell your friends.
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="chose-box shadow-lg text-center">
                            <img src="~/Images/quility.png" alt="Alternate Text" />
                            <h6 class="title">Quality at our core</h6>
                            <p class="mb-0">
                                High quality standards. Lots of positive reviews. Happy customer feedback.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
@* why choose us *@
