@{
    ViewData["Title"] = "Any Festival";
}

@* banner *@
<div class="prod_title" style="background-image: url('/Images/festival.gif');background-size:cover; background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xl-8">
                <h1 class="text-white" style="font-family:'Freestyle Script'!important;font-size:62px;">
                    Celebrate the <br />
                    Magic of Christmas!
                </h1>
                <p class="mb-0 text-white">
                    Unwrap Joy, Spread Cheer, and Make<br />
                    Every Moment Magical!
                </p>
            </div>
        </div>
    </div>
</div>
@* banner *@


<style>
    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide all slides by default */
    .mySlides {
        display: none;
    }

        /* Show the first slide */
        .mySlides.active {
            display: block;
            background-color: #ffffff !important;
        }

    /* The dots/bullets/indicators */
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;
    }

    .active {
        background-color: #8C387C !important;
    }

</style>

<div class="col-xl-12">
    <div class="section-title text-center mb-4">
        <h1 class="domestic_title text-center my-5 ">
            Holiday Lights, Endless Flights
        </h1>
        <h4 class="text-center my-5" style="color:#05073D !important;">
            Celebrate the most wonderful time of the year in the most beautiful places!
        </h4>
    </div>
</div>

<div class="packages-plan mt-5 slideshow-container">

    <div class="mySlides ">
        <div class="row">

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Himachal Pradesh.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">Mystic Himachal Adventure</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="mySlides ">
        <div class="row">


            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Himachal Pradesh.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">Mystic Himachal Adventure</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="mySlides ">
        <div class="row">

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<script>
      let slideIndex = 0;
    showSlides();

    function showSlides() {
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");

        for (let i = 0; i < slides.length; i++) {
            slides[i].classList.remove("active"); // Hide all slides
        }

        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }

        slides[slideIndex - 1].classList.add("active"); // Show current slide with smooth transition

        for (let i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }

        dots[slideIndex - 1].className += " active";

        setTimeout(showSlides, 2000); // Change slide every 2 seconds
    }


</script>


<section class="packages-plan pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-4">
                    <h1 class="domestic_title text-center my-5 ">
                        Holiday Lights, Endless Flights
                    </h1>
                    <h4 class="text-center my-5" style="color:#05073D !important;">
                        Celebrate the most wonderful time of the year in the most beautiful places!
                    </h4>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Himachal Pradesh.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">Mystic Himachal Adventure</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




