@{
    ViewData["Title"] = "Any Festival";
}

@* banner *@
<div class="prod_title" style="background-image: url('/Images/festival.gif');background-size:cover; background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xl-8">
                <h1 class="text-white" style="font-family:'Freestyle Script'!important;font-size:62px;">
                    Celebrate the <br />
                    Magic of Christmas!
                </h1>
                <p class="mb-0 text-white">
                    Unwrap Joy, Spread Cheer, and Make<br />
                    Every Moment Magical!
                </p>
            </div>
        </div>
    </div>
</div>
@* banner *@


<style>
    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide all slides by default */
    .mySlides {
        display: none;
    }

        /* Show the first slide */
        .mySlides.active {
            display: block;
            background-color: #ffffff !important;
        }

    /* The dots/bullets/indicators */
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;
    }

    .active {
        background-color: #8C387C !important;
    }

</style>

<div class="col-xl-12">
    <div class="section-title text-center mb-4">
        <h1 class="domestic_title text-center my-5 ">
            Holiday Lights, Endless Flights
        </h1>
        <h4 class="text-center my-5" style="color:#05073D !important;">
            Celebrate the most wonderful time of the year in the most beautiful places!
        </h4>
    </div>
</div>

<div class="packages-plan mt-5 slideshow-container">

    <div class="mySlides ">
        <div class="row">

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Himachal Pradesh.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">Mystic Himachal Adventure</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="mySlides ">
        <div class="row">

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Himachal Pradesh.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">Mystic Himachal Adventure</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="mySlides ">
        <div class="row">

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<script>
      let slideIndex = 0;
    showSlides();

    function showSlides() {
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");

        for (let i = 0; i < slides.length; i++) {
            slides[i].classList.remove("active"); // Hide all slides
        }

        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }

        slides[slideIndex - 1].classList.add("active"); // Show current slide with smooth transition

        for (let i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }

        dots[slideIndex - 1].className += " active";

        setTimeout(showSlides, 2000); // Change slide every 2 seconds
    }


</script>


@* maldivas festival package *@
<section class="packages-plan pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-start mb-4">
                    <h1 class="domestic_title my-5 ">
                        Maldives Christmas Packages
                    </h1>
                </div>

                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                    <div class="card" style="border-radius:15px;">
                        <div class="card-image">
                            <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                        </div>
                        <div class="card-content">
                            <h2 class="title">Maldives Christmas Escape</h2>
                            <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                            <h2 class="title">Tropical Bliss Goa Getaway</h2>
                            <p class="price">
                                <span class="prim-txt">Starting 8999</span>
                                / EMI Available
                            </p>
                            <div class="duration">
                                <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                                <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
@* maldivas festival package *@


@* Europe Christmas & New Year Packages*@
<section class="packages-plan pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-start mb-4">
                    <h1 class="domestic_title my-5 ">
                        Europe Christmas & New Year Packages
                    </h1>
                </div>
            </div>
            
            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <h2 class="title">Maldives Christmas Escape</h2>
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>  

        </div>
</section>
@* Europe Christmas & New Year Packages*@



@* why choose us *@
<section class="why-choose-us" style="background:#F3EAF3;padding-block:5%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-wrap">
                    <img src="~/Images/why_choose.png" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-title text-center mt-5">
                        <h2 class="title">Why choose The Royal Tourism</h2>
                    </div>
                </div>

                <div class="row choose-row ">

                    <div class="col-lg-4 col-md-6">
                        <div class="chose-box shadow-lg text-center">
                            <img src="~/Images/ultimate.png" alt="Alternate Text" />
                            <h6 class="title">Ultimate flexibility</h6>
                            <p class="mb-0">You're in control, with easy cancellation and payment options to satisfy any plan or budget.</p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="chose-box shadow-lg text-center">
                            <img src="~/Images/memorable.png" alt="Alternate Text" />
                            <h6 class="title">Memorable experiences</h6>
                            <p class="mb-0">
                                Browse and book tours and activities so incredible,
                                you'll want to tell your friends.
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="chose-box shadow-lg text-center">
                            <img src="~/Images/quility.png" alt="Alternate Text" />
                            <h6 class="title">Quality at our core</h6>
                            <p class="mb-0">
                                High quality standards. Lots of positive reviews. Happy customer feedback.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
@* why choose us *@




@* contact form start *@
<section class="contact_section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-7 col-md-7 col-lg-7">
                        <div class="contact-form">
                            <div class="heading-section">
                                <h2 class="title main-text">Get In Touch</h2>
                            </div>
                            <p class="font18">Your email address will not be published. Required fields are marked *</p>
                            <form class="pt-3" method="POST" action="https://theroyaltourism.in/inquiry">
                                <input type="hidden" name="_token" value="lTpV9r5Mkl1RXCz4b61qqD4v29RUedMMVoR7bZzH" autocomplete="off">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-lg-6 mb-3">
                                        <label class="form-label">Full Name*</label>
                                        <input type="text" name="name" class="form-control" placeholder="Full Name" value="" required="">
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-lg-6 mb-3">
                                        <label class="form-label">Phone Number*</label>
                                        <input type="text" name="phone_number" class="form-control" placeholder="Phone" value="" required="">
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label class="form-label">Email Address*</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email" value="" required="">
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label class="form-label">Your Message</label>
                                        <textarea class="form-control textarea" id="message-text" name="message" placeholder="Message" rows="5"></textarea>
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-12 mt-4">
                                        <div class="btn-box text-center text-md-start">
                                            <button type="submit" class="btn btn-fill">
                                                Send Message &nbsp;
                                                <i class="bi-light bi-arrow-right bi-rotate-by"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-5 col-lg-5">
                        <div class="img-box ps-xl-5">
                            <img src="https://theroyaltourism.in/frontend/images/contact/right.png" class="img-fluid" loading="lazy" alt="contact">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@* contact form end *@

