@{
    ViewData["Title"] = "Domestic Destinations";
}

@* banner *@
<div class="prod_title" style="background-image: url('/Images/domestic_banner.png');background-size:cover; background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xl-8">
                <h1 class="text-white">Discover Incredible India  Where Culture Meets Natural Beauty!</h1>
                <p class="mb-0 text-white">From vibrant cities to serene landscapes, let us <br /> plan your perfect getaway across India.</p>
            </div>
        </div>
    </div>
</div>
@* banner *@

@* about domestic *@
<section class="container">
    <div class="p-4 m-3 mt-5 shadow-lg rounded-3">
        <h4 class="domestic_title">
            Discover the Soul of India
        </h4>
        <p class="mt-3">
            Immerse yourself in India’s diverse wonders—majestic temples, serene backwaters, vibrant festivals, and timeless heritage. Let us guide you through an unforgettable journey that celebrates the essence of this extraordinary land!
        </p>
    </div>
</section>
@* about domestic *@



@* destinations *@
<section class="container">
    <h2 class="domestic_title text-center my-5">
        Domestic Destinations
    </h2>

    <div class="container  ">

        <div class="row text-center">

            @* row 1 start*@
            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/kerala.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/goa.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/himachal pradesh.png" alt="Place 3" width="100%" />
            </div>
            @* row 1 end *@


            @* row 2 start *@
            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Jammu & Kashmir.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/ladakh.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Delhi.png" alt="Place 3" width="100%" />
            </div>
            @* row 2 end *@

            @* row 3 start *@
            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Rajasthan.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/coorg.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Andaman.png" alt="Place 3" width="100%" />
            </div>
            @* row 3 end *@

            @* row 4 start *@
            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Kodaikanal.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Mysore.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Ooty.png" alt="Place 3" width="100%" />
            </div>
            @* row 4 end *@

            @* row 5 start *@
            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Wayanad.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Amritsar.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Darjeling- Gangtok.png" alt="Place 3" width="100%" />
            </div>
            @* row 5 end *@

            @* row 6 start *@
            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Tirupathi.png" alt="Place 3" width="100%" />
            </div>

            <div class="col-sm-4 mb-4">
                <img src="/Images/Domestic/Shiridi.png" alt="Place 3" width="100%" />
            </div>
            @* row 6 end *@

        </div>
    </div>
</section>
@* destinations *@


@* Packages *@
<section class="packages-plan pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-4">
                    <h3 class="domestic_title fs-2">All Packages </h3>
                    <p class="mb-0 fw-medium">Curated packages for your dream vacation, loved by travelers worldwide.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4 ">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Goa.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Goa</div>
                        <h2 class="title">Tropical Bliss Goa Getaway</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 2N/3D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Jammu & Kashmir.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Goa</div>
                        <h2 class="title">Meadows of Heaven</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 8999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Himachal Pradesh.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">Mystic Himachal Adventure</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6 mb-4">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Rajasthan.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">Tales of the Desert Kings</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Kerala.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Himachal Pradesh</div>
                        <h2 class="title">God’s Own Bliss</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 6N/7D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Mysore.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Rajasthan</div>
                        <h2 class="title">Palace City Charms</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 5N/6D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card " style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Coorg.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Rajasthan</div>
                        <h2 class="title">The Coffee Highlands</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 7N/8D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Ooty.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Coorg</div>
                        <h2 class="title">Emerald Tea Trails</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                <div class="card" style="border-radius:15px;">
                    <div class="card-image">
                        <img src="/Images/Domestic_Packages/Andaman.png" class="img-fluid" loading="lazy" alt="packages image">
                    </div>
                    <div class="card-content">
                        <div class="location"><img src="https://theroyaltourism.in/frontend/images/icon/location.svg" loading="lazy" class="img-fluid me-1" alt="icon"> Royal Coorg</div>
                        <h2 class="title">Ocean Whispers</h2>
                        <p class="price">
                            <span class="prim-txt">Starting 9999</span>
                            / EMI Available
                        </p>
                        <div class="duration">
                            <span><img src="https://theroyaltourism.in/frontend/images/icon/clock.svg" loading="lazy" class="img-fluid me-1" alt="icon"> 3N/4D</span>
                            <a href="" class="view-more">View More <i class="bi bi-arrow-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@* Packages *@




@* contact form start *@
<section class="contact_section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-7 col-md-7 col-lg-7">
                        <div class="contact-form">
                            <div class="heading-section">
                                <h2 class="title main-text">Get In Touch</h2>
                            </div>
                            <p class="font18">Your email address will not be published. Required fields are marked *</p>
                            <form class="pt-3" method="POST" action="https://theroyaltourism.in/inquiry">
                                <input type="hidden" name="_token" value="lTpV9r5Mkl1RXCz4b61qqD4v29RUedMMVoR7bZzH" autocomplete="off">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-lg-6 mb-3">
                                        <label class="form-label">Full Name*</label>
                                        <input type="text" name="name" class="form-control" placeholder="Full Name" value="" required="">
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-lg-6 mb-3">
                                        <label class="form-label">Phone Number*</label>
                                        <input type="text" name="phone_number" class="form-control" placeholder="Phone" value="" required="">
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label class="form-label">Email Address*</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email" value="" required="">
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label class="form-label">Your Message</label>
                                        <textarea class="form-control textarea" id="message-text" name="message" placeholder="Message" rows="5"></textarea>
                                        <div class="text-danger text-sm"></div>
                                    </div>
                                    <div class="col-xl-12 mt-4">
                                        <div class="btn-box text-center text-md-start">
                                            <button type="submit" class="btn btn-fill">
                                                Send Message &nbsp;
                                                <i class="bi-light bi-arrow-right bi-rotate-by"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-5 col-lg-5">
                        <div class="img-box ps-xl-5">
                            <img src="https://theroyaltourism.in/frontend/images/contact/right.png" class="img-fluid" loading="lazy" alt="contact">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@* contact form end *@