@{
    ViewData["Title"] = "Payment Successfull";
}

<div class="text-center mt-5">
    <h2 class="text-success">🎉 Payment Successful!</h2>
    <p>Thank you for booking your tour with us.</p>
    <a href="/" class="btn btn-primary mt-3">Go to Home</a>
</div>
<a class="royalbutton mb-4" asp-controller="Home" asp-action="Index"></a>