@{
    ViewData["Title"] = "Home Page";
}

<div class="prod_title" style="background-image: url('/Images/home_banner.png');background-size:cover; background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xl-6">
                <h2 class="text-white"> Welcome to <br />The Royal Tourism!</h2>
                <h1 class="text-white"> Journey to Paradise</h1>
                <p class="mb-0 text-white">Uncover the world's most beautyful destinations and <br />create joyful memories with your loved ones.</p>
                <button class="banner_btn mt-3">Explore</button>
            </div>
        </div>
    </div>
</div>

@* plan your trip section start *@
<div class="container  my-5">
    <div class="row  ">
        <!-- Image Grid -->
        <div class="col-md-6">
            <img src="~/Images/all.png" class="img-fluid" alt="left" />
        </div>

        <!-- Text Section -->
        <div class="col-md-6 d-flex flex-column ">
            <h1 style="font-family:'Freestyle Script';">Let’s Go Together</h1>
            <h1 class="main-text">Plan Your Trip With Us</h1>
            <p>
                Explore the world your way! With personalized plans, expert advice, and unbeatable deals,
                we’re here to make your trip memorable and stress-free. Let’s begin your journey now!
            </p>

            <div class="d-flex align-items-start mb-3 mt-5">
                <div class="me-3 mt-3">
                    <img src="~/Images/map.svg" class="img-fluid" alt="guide" />
                </div>
                <div>
                    <h4 class="main-text mb-1">Exclusive Trip</h4>
                    <p class="mb-0">
                        Tailored adventures with unique destinations, and premium
                        experiences-your dream journey starts here!
                    </p>
                </div>
            </div>

            <div class="d-flex align-items-start ">
                <div class="me-3 mt-3">
                    <img src="~/Images/guide.svg" class="img-fluid" alt="guide" />
                </div>
                <div>
                    <h4 class="main-text mb-1">Professional Guide</h4>
                    <p class="mb-0">
                        Travel worry-free with expert guides offering insider tips and local knowledge
                        for a seamless adventure.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
@* plan your trip section end *@

<br />
<br />

@* quility start *@

<div class="container my-4 ">
    <h1 class="fs-1 main-text text-center mb-3"  >Give them quality. That’s the best kind of advertising</h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body p-3" style="background-image:url('/Images/internationl.png');background-size:cover;background-position:center;border-radius:16px;">
                    <h2 class="card-title" style="color:#D1E8FF;">Explore the World!</h2>
                    <h5 class="card-text text-white py-3">
                        Starting at ₹10,999/- <br />
                        Unmissable International Deals.
                    </h5>
                    <a asp-action="Domestic" asp-controller="Destination" class="inter_btn mb-3">Explore Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body p-3" style="background-image:url('/Images/domestic.png');background-size:cover;background-position:center;border-radius:16px;">
                    <h2 class="card-title" style="color:#C559B1;">Discover India!</h2>
                    <h5 class="card-text py-3" style="color:#8C387C;">
                     Starting at ₹4,999/- <br /> 
                     Best Domestic Getaways.     
                    </h5>
                    <a asp-action="International" asp-controller="Destination" class="domestic_btn mb-3">Explore Now</a>
                </div>
            </div>
        </div>
    </div>

</div>

@* quility end *@

<br />
<br />
<br />


@* explore india start *@

<div class="container my-5">
    <div class="row">

        <!-- Text Section -->
        <div class="col-md-7 d-flex flex-column ">
            <h1 style="font-family:'Freestyle Script';">Best Recommended Places of India</h1>
            <h1 class="main-text">Explore India with Royal Tourism</h1>
            <p>
                Discover India's rich heritage and vibrant culture <br /> with Royal Tourism – your gateway
                to <br /> unforgettable experiences.
            </p>
            <a asp-action="Domestic" asp-controller="Destination"  class="domestic_btn text-center col-md-3">View All <i class="bi bi-arrow-right"></i> </a>
        </div>

        <!-- Image Slider Section -->
        <div class="col-md-5">
            <div class="image-slider">
                <div class="slide-track">

                    <div class="slide">
                        <img src="/Images/Domestic/Amritsar.png" alt="Place 1" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Andaman.png" alt="Place 2" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/coorg.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Darjeling- Gangtok.png" alt="Place 1" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Delhi.png" alt="Place 2" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/goa.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/himachal pradesh.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Jammu & Kashmir.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/kerala.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Kodaikanal.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/ladakh.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Mysore.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Ooty.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Rajasthan.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Shiridi.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Tirupathi.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/Domestic/Wayanad.png" alt="Place 3" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@* explore india end *@

<br />
<br />
<br />


@* explore international start *@

<div class="container my-5">
    <div class="row">

        <!-- Text Section -->
        <div class="col-md-7 d-flex flex-column ">
            <h1 style="font-family:'Freestyle Script';">Best International Places for you</h1>
            <h1 class="main-text">
                International tour with
                Royal Tourism
            </h1>
            <p>
                Discover World's heritage and vibrant culture <br /> with Royal Tourism – your
                gateway to <br /> unforgettable experiences.
            </p>
            <a asp-action="International" asp-controller="Destination" class="domestic_btn text-center col-sm-3">View All <i class="bi bi-arrow-right"></i> </a>
        </div>

        <!-- Image Slider Section -->
        <div class="col-md-5">
            <div class="image-slider">
                <div class="slide-track">

                    <div class="slide">
                        <img src="/Images/International/Bali.png" alt="Place 1" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Bangkok.png" alt="Place 2" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Dubai.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Europe.png" alt="Place 1" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Malaysia.png" alt="Place 2" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Maldives.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Singapore.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Sri Lanka.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Thailand.png" alt="Place 3" />
                    </div>

                    <div class="slide">
                        <img src="/Images/International/Vietnam.png" alt="Place 3" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@* explore international end *@