@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<div class="home_banner" style="background-image:url('/Images/home_banner.png');background-size:cover;background-attachment:fixed;">
    <div class="banner_content">

        <h3>
            Welcome to <br />The Royal Tourism!
        </h3>

        <h1 class="fw-bold">
            Journey to Paradise
        </h1>
        <p>
            Uncover the world's most beautyful destinations and <br />create joyful memories with your loved ones.
        </p>
        <button class="banner_btn">Explore</button>
    </div>

</div>


@* plan your trip section start *@
<div class="container  my-5">
    <div class="row  ">
        <!-- Image Grid -->
        <div class="col-md-6">
            <img src="~/Images/all.png" class="img-fluid" alt="left" />
            @* <div class="row mb-3 g-0"> *@
            @*     <div class="col-6 g-0"> *@
            @*         <img src="~/Images/top_left.png"  class="img-thumbnail mb-4" alt="left" /> *@
            @*     </div> *@
            @*     <div class="col-6 g-0"> *@
            @*         <img src="~/Images/top_right.png"  class="img-thumbnail mb-4" alt="right" /> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="row g-0"> *@
            @*     <div class="col-6 g-0"> *@
            @*         <img src="~/Images/left_bottom.png"  class="img-thumbnail" alt="bottom left" /> *@
            @*     </div> *@
            @*     <div class="col-6 g-0"> *@
            @*         <img src="~/Images/right_bottom.png" class="img-thumbnail" alt="bottom right" /> *@
            @*     </div> *@
            @* </div> *@
        </div>

        <!-- Text Section -->
        <div class="col-md-6 d-flex flex-column ">
            <h1 style="font-family:'Freestyle Script';">Let’s Go Together</h1>
            <h1 class="main-text">Plan Your Trip With Us</h1>
            <p>
                Explore the world your way! With personalized plans, expert advice, and unbeatable deals,
                we’re here to make your trip memorable and stress-free. Let’s begin your journey now!
            </p>

            <div class="d-flex align-items-start mb-3 mt-5">
                <div class="me-3 mt-3">
                    <img src="~/Images/map.svg" class="img-fluid" alt="guide" />
                </div>
                <div>
                    <h4 class="main-text mb-1">Exclusive Trip</h4>
                    <p class="mb-0">
                        Tailored adventures with unique destinations, and premium
                        experiences-your dream journey starts here!
                    </p>
                </div>
            </div>

            <div class="d-flex align-items-start ">
                <div class="me-3 mt-3">
                    <img src="~/Images/guide.svg" class="img-fluid" alt="guide" />
                </div>
                <div>
                    <h4 class="main-text mb-1">Professional Guide</h4>
                    <p class="mb-0">
                        Travel worry-free with expert guides offering insider tips and local knowledge
                        for a seamless adventure.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
@* plan your trip section end *@

<br />
<br />

@* quility start *@
<div class="container my-4 ">
    <h1 class="fs-1 main-text text-center mb-3">Give them quality. That’s the best kind of advertising</h1>
    <div class="col-md-12 gap-3 d-flex">

        <div class="col-md-6 p-4" style="background-image:url('/Images/internationl.png');background-size:cover;border-radius:12px;">
            <h2 style="color:#D1E8FF;">Explore the World!</h2>
            <h4 class="text-white mt-4 mb-4">
                Starting at ₹10,999/- <br />
                Unmissable International Deals.
            </h4>
            <button class="inter_btn">Explore Now</button>
        </div>

        <div class="col-md-6 p-4" style="background-image:url('/Images/domestic.png');background-size:cover;border-radius:12px;">
            <h2 style="color:#C559B1;">Discover India!</h2>
            <h4 class="mt-4 mb-4" style="color:#8C387C;">
                Starting at ₹4,999/- <br />
                Best Domestic Getaways.
            </h4>
            <button class="domestic_btn">Explore Now</button>
        </div>
    </div>

</div>
@* quility end *@

<br />
<br />
<br />

@* explore india start *@

<div class="container  my-5">
    <div class="row  ">

        <!-- Text Section -->
        <div class="col-md-5 d-flex flex-column ">
            <h1 style="font-family:'Freestyle Script';">Best Recommended Places of india</h1>
            <h1 class="main-text ">Explore India with Royal Tourism </h1>
            <p>
                Discover India's rich heritage and vibrant culture with Royal Tourism – your gateway
                to unforgettable experiences.
            </p>

            <button class="domestic_btn col-md-4">View All <i class="bi bi-arrow-right "></i> </button>

           
        </div>

        <!-- Image Grid -->
        <div class="col-md-7">
            <img src="~/Images/all.png" class="img-fluid" alt="left" />
        </div>

    </div>
=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 9fad01c7a04751c9e1530b2716f6287e0f745fa6
</div>
